.details h2{
    font-family: 'Playfair Display', serif;
    font-weight:600
}

.details p{
margin-top: 15px;
color: black;
font-family:Arial, Helvetica, sans-serif;
font-size: 16px;

}

.boxwrap{
    display: flex;
    margin-top: 35px;
}

.image{
    margin-top: 30px;
}
.details h5{
    color: black;
    font-weight: 300;
    font-family: 'Playfair Display', serif;

}


.details li{
    color: black;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}